body{
    margin: 0px;
    padding: 0px;
}
.header{
    width: 100%;
    height: 100px;
    background-color: black;
}
.header-main{
    width: 1200px;
    height: 100px;
    margin: auto;
    display: flex;;
    justify-content: space-between;
    align-items: center;
}
.item{
    width: 730px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-box{
    width: 240px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-box-1{
   width: 70px;
   height: 40px;
   background-color: #ff000046;
   border-radius: 10px;
   display: flex;
   align-items: center;
}
.item-box-1:hover{
    background-color: #ff0000e5;
}
.item-img{
    width: 200px;
    height: 100px;
}
.text-login{
    text-decoration: none;
    font-size: 16px;
    font-family: Arial;
    font-weight: normal;
    color: white;
}
.text-login:hover{
    color: #e9a042de;
}
.text-login1:hover{
    color: black;
}
/* body */
.body{
    width: 100%;
    height: 1535px;
    background-color: #141414;
}
.body .main{
    width: 1200px;
    height: 100%;
    margin: auto;
    /* background-color: aliceblue; */
}
.main_item{
    width: 100%;
    height: 221px;
    padding-top: 20px;
    background-color: #141414;
}
.main_item-img{
    width: 100% ;
    height: 189px;
}
.main_item1{
    width: 100%;
    height: 292px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    /* background-color: red; */
}
.content{
    width: 230px;
    height: 292px;
    /* background-color: yellow; */
}
.content-img{
    width: 230px;
    height: 292px;
}
.content1{
    width: 100%;
    height: 292px;
    background-color: #2a2a2a;
}
.content-top{
    width: 90%;
    height: 196px;
    margin: auto;
    border-bottom: 1px solid #b5b5b5;;
}
.text{
    font-size: 24px;
    font-family: Arial;
    color: white;
}
.text1{
    font-size: 17px;
}
.text2{
    font-size: 14px;
    color: #b5b5b5;

}
.content-bot{
    width: 90%;
    height: 71px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}
.left{
    width: 410px;
    height: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.click{
    width: 165px;
    height: 44px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ce282a;;
}
/* end body */
.footer{
    width: 100%;
    height: 200px;
    background-color: #141414;
}
.footer-main{
    width: 1200px;
    height: 100%;
    margin: auto;
}
.main-top{
    height: 50px;
    width: 100%;
    display: flex;
}
.main-top-img{
    width: 20px;
    height: 20px;
}
.main-bot{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
}
.box{
    width: 250px;
    height: 100px;
}
.box-text{
    text-decoration: none;
    font-size: 15px;
    font-family: Arial;
    font-weight: 400;
    color: silver;
}